<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About Us</h3>
            </div>
            <div class="panel-body">
                <p>
                    Air Charters Worldwide is a Canadian Aviation Charters Broker, specialized in chartering aircrafts worldwide.
                    No matter where or what kind of plane are you looking for, we can help.
                </p>
                <p>
                    The services we provide include the aircraft chartering for a single flight (one way, multi destination, round trip), 
                    or multiple / seasonal flights, we have access to hundreds of aircraft located all around the world.        
                </p>     
                <p>
                    Thanks to our experience in civil aviation, we can assist individual clients,
                    companies, tour operators and travel agencies on finding the best aircraft according their needs,
                    with the best price within the budget.        
                </p>                
            </div>
        </div>    
        <p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">We are Specialized in</h3>
                </div>
                <div class="panel-body">
                    Commercial/Group Charters, Private/VIP Charters, Cargo Charters, Corporate Travels, Aero-Ambulance, Helicopter Charters.
                </div>
            </div>
        </p>
        <p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Disclaimer</h3>
                </div>
                <div class="panel-body">
                    <b>Air Charters Worldwide</b> serves as an agent in obtaining air charter services for our customers. 
                    ACWW is not a direct or indirect “Air Carrier”.
                    <br />
                    <b>Air Charters Worldwide</b> does not own or operate any aircraft. All flights are operated by FAR Part
                    135 or 121 air carriers or foreign equivalent (“Operators”), who shall maintain full operational control
                    of charter flights at all times.      
                </div>
            </div>
        </p>
    </div>
</div>