<div class="row">
    <div style="margin-top: 5pt"></div>
    <div class="row">
        <div class="col-md-6">
            <p>Name</p>
            <div class="input-group-md">
                <input type="text" placeholder="Name" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <p>Email</p>
            <div class="input-group-md">
                <input type="text" placeholder="Email" class="form-control">
            </div>
        </div> 
    </div> 
    <div style="margin-top: 10pt"></div>
    <div class="row">
        <div class="col-md-6">
            <p>Company</p>
            <div class="input-group-md">
                <input type="text" placeholder="Company" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <p>Phone</p>
            <div class="input-group-md">
                <input type="text" placeholder="Phone" class="form-control">
            </div>
        </div> 
    </div>     
    <div style="margin-top: 10pt"></div>
    <div class="row">
        <div class="col-md-6">
            <p>Website</p>
            <div class="input-group-md">
                <input type="text" placeholder="Website" class="form-control">
            </div>
        </div>
    </div>   
    <div style="margin-top: 10pt"></div>
    <div class="row">
        <div class="col-md-6">
            <p>Memo</p>
            <div class="input-group-md">
                <input type="text" placeholder="Memo" class="form-control">
            </div>
        </div>
    </div>
    <div style="margin-top: 10pt"></div>   
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-default btn-success">Submit</button>           
        </div>
    </div>
    <div style="margin-top: 18pt"></div>
</div>
